@import "tailwindcss";

:root {
  --background: #FBFCFA;
  --foreground: #62727B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background: #DDF3F1;
  color: #62727B;
}
